<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="blogs-content">
        <h1>All blogs</h1>
        <% if (blogs.length > 0) {%>
            <% blogs.forEach(blog => { %>
             <a href="/blogs/<%= blog._id %> " class="single">
             <h3 class="title"><%= blog.title %> </h3>
             <h4 class="snippet"><%= blog.snippet %> </h4></a>
            <% }) %>
            <% } else { %>
                <h2>There is nothing to show...</h2> 
       <% } %>
    </div>



    <%- include("./partials/footer.ejs")%>

</body>
</html>